@charset "UTF-8";

:root {
    --corheader: #E44C89;
    --corpreto: #171717;
    --corpreto_cinza: #242424;
    --cor1: #274B47;
    --cor3_5: #2F2F2F;
    --cor2_4: #171717;
    --cor6: #404040;
    }

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: var(--corpreto_cinza);
}

header {
    background-image:linear-gradient(to right, var(--corheader)40%, #B5B3C4 , #E3C492, #D5975C, #E47D8C, #E57151);
    height: 150px;
    position: relative;
}

header h1 {
    position: absolute;
    font-weight: bold;
    color: var(--corpreto);
    top:29%;
    left: 2%;
}

header p {
    position: absolute;
    color: var(--corpreto);
    top: 65%;
    left: 2%;
}

div#topbox {
    background-color: var(--corpreto_cinza);
    width: 150px;
    height: 35px;
    font-weight: bold;
    position: absolute;
    top: 40%;
    margin-left: 37%;

}

div#topbox > a {
    color: white;
    text-decoration: none;
    position: absolute;
    top: 20%;
    left: 5%;
}

div#x {
    position: absolute;
    background-color: var(--cor3_5);
    padding: 6px 11px;
    font-size: 1em;
    top: 22px;
    right: 22px;
}

nav {
    background-color: var(--corpreto);
    padding: 20px 10px;
    margin-bottom: 1px;
}

nav > a {
    text-decoration: none;
    font-size: .8em;
    font-weight: bold;
    color: white;
}

nav > a:hover {
    text-decoration: underline;
}

.art1 {
    background-color: var(--cor1);
    height: 410px;
    padding: 0 10px;
    position: relative;
}

.art1 p {
    position: absolute;
    top: 35%;
}

.art1 h1 {
    font-size: 3em;
    position: absolute;
    top: 40%;
}

.art2 {
    background-color: var(--cor2_4);
    height: 490px;
    position: relative;
    padding: 0 20px;
}

.art2 h1 {
position: absolute;
font-size: 2em;
font-weight: normal;
max-width: 430px;
top: 12%;
}

.art2 p {
    position: absolute;
    line-height: 1.8em;
    max-width: 400px;
    top: 30%;
}

.art2 iframe {
    position: absolute;
    top: 20%;
    right: 2%;
    width: 50%;
    height: 60%;
}

.art3 {
    position: relative;
    background-color: var(--cor3_5);
    height: 520px;
    padding: 0 20px;
}

.art3 h1 {
    position: absolute;
    top: 15%;
}

.art3 p {
    position: absolute;
    max-width: 450px;
    line-height: 1.7em;
    top: 25%;
}

.art3 ul {
    position: absolute;
    line-height: 1.8em;
    list-style-position: inside;
    margin-left: 25px;
    max-width: 450px;
    top: 70%;
}

.art3 img {
    display:block;
    position: absolute;
    top: 32%;
    right: 17%;
}

.art4 {
    position: relative;
    background-color: var(--cor2_4);
    height: 650px;
    padding: 0 20px;
}

.art4 h1 {
    position: absolute;
    max-width: 450px;
    top: 15%;
    right: 4%;
}

.art4 p {
    position: absolute;
    max-width: 450px;
    line-height: 1.7em;
    top: 25%;
    right: 4%;
}

.art4 ul {
    position: absolute;
    line-height: 1.8em;
    list-style-position: inside;
    max-width: 450px;
    top: 50%;
    right: 4%;
}

.art4 img {
    display:block;
    position: absolute;
    top: 32%;
    left: 17%;
}

.art4 div {
    border: 1px solid white;
    background-color: var(--corpreto);
    color: white;
    text-align: center;
    padding: 6px;
    width: 90px;
    position: absolute;
    bottom: 5%;
    right: 39%;
}

.art4 div:hover {
    background-color: var(--cor3_5);
    text-decoration: underline;
}

.art5 {
    position: relative;
    background-color: var(--cor3_5);
    height: 700px;
    padding: 0 20px;
}

.art5 h1 {
    position: absolute;
    max-width: 450px;
    top: 15%;
    
}

.art5 p {
    position: absolute;
    max-width: 450px;
    line-height: 1.7em;
    top: 25%;
    
}

.art5 ul {
    position: absolute;
    line-height: 1.8em;
    list-style-position: inside;
    max-width: 450px;
    top: 50%;
    
}

.art5 img {
    display:block;
    position: absolute;
    top: 34%;
    left: 68%;
}

.art5 div {
    border: 1px solid white;
    background-color: var(--corpreto);
    color: white;
    text-align: center;
    padding: 6px;
    width: 90px;
    position: absolute;
    bottom: 6%;
    left: 2%;
}

.art5 div:hover {
    background-color: var(--cor3_5);
    text-decoration: underline;
}

footer {
    position: relative;
    background-color: var(--cor6);
    height: 200px;
    padding: 0 20px;
}

footer a {
    text-decoration: none;
    color: white;
    margin-right: 30px;
    position: absolute;
    top: 30%;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    position: absolute;
    top: 65%;
    margin-left: 3%;
}

footer a:hover {
    text-decoration: underline;
}