@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-image: linear-gradient(90deg, #c5cbd1, #a7bfd3);
}

main {
    background-color: #86C6E7;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #707f8bda;
    width: 650px;
    padding: 10px;
    margin: auto;
}

p{
    text-align: justify;
}

h1 {
    color: #2E4A7E;
    text-align: center;
    text-shadow: 1px 1px 2px #1f3255;
}

h2 {
    color: #192E59;
}